body {
  background-color: rgb(0, 0, 0) !important;
}

p {
  color: white;
  font-size: 1.1em;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  padding-bottom: .5em;
}

.footer {
  background-color: rgb(27, 28, 29);
  padding: 1em;
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 55px;
}

.logo {
  display: flex;
  color: white;
  font-weight: bold;
  align-items: center;
  position: absolute;
  right: 0;
  margin-right: 5px;
}

.footer-stuff {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  margin-left: 15px;
}

.headericons {
  padding-right: 20px;
}

.modalheader {
  position: fixed;
  bottom: 0;
  left: 1.5em;
}

.link-hover:hover {
  color: rgba(53, 103, 136, 0.541);
}

.myrating {
  border: 1px solid grey;
  border-radius: 10%;
  padding: 2px;
  margin-left: 0;
}

.center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.no-user {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: grey;
  width: 132px;
  height: 167px;
  border-radius: 10px;
}

.no-search-image {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
}

.person {
  display: block;
  text-align: center;
  width: 138px;
  height: 100%;
  margin-right: 5px;
  border-radius: 10px;
  padding: .1em;
  background-color: rgb(0, 0, 0);
  transition: transform 500ms;
}

.person:hover {
  transform: translate(5px, -5px);
  cursor: pointer;
}

.person h4 {
  margin: 0;
  color: whitesmoke;
}

.person p {
  margin-top: .1em;
  font-size: small;
  color: grey;
}

.chip {
  display:inline-flex;
  align-items: center;
  padding:.5em;
  height:1.5em;
  line-height:1em;
  border-radius:9999px;
  margin-right: .3em;
  margin-bottom: .3em;
  font-weight: bolder;
  width:max-content;
  color: rgb(0, 0, 0);
  box-shadow: 0.2em  0.25em 0.1875em 0 rgba(126, 126, 126, 0.288);
  background-color: rgba(255, 255, 255, 0.719);
}

.chip:hover {
  background-color: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.719);
  cursor: pointer;
}

.mykeyword {
  display:inline-flex;
  align-items: center;
  padding:.5em;
  height:1.5em;
  border-radius:9999px;
  margin-left: .3em;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  box-shadow: 0.2em  0.25em 0.1875em 0 rgba(0, 0, 0, 0.527);
  background-color: rgba(255, 255, 255, 0.719);
}

.mysegment {
  background-color: rgba(0, 0, 0, 0.665);
}

.moviecard {
  display: block;
  text-align: center;
  width: 138px;
  height: 100%;
  margin-right: 5px;
  border-radius: 25px;
  transition: transform 500ms;
}

.moviecard:hover {
  transform: translate(5px, -5px);
  cursor: pointer;
}

/*
* Semantic UI overrides
*/
.ui.card {
  background-color: #24262b !important;
  font-size: smaller;
  border: 2px solid aqua;
}

.ui.items > .item > .image > img {
  border-radius: 10px !important;
}

.ui.menu {
  background-color: rgb(27, 28, 29) !important;
  color: white !important;
}

.ui.menu .item {
  color: white !important;
}

.ui.menu .active.item {
  background-color: rgb(83, 83, 83) !important;
}

.ui.tab {
  background-color: rgb(27, 28, 29) !important;
}


.ui.items > .item > .content > .header {
  color: white !important;
}

.ui.items > .item .meta {
  color: gray !important;
  font-style: italic !important;
}

.ui.items > .item > .content > .description {
  color: white !important;
}

.ui.link.list .item {
  color: white !important;
}

.ui.divided.items > .item {
  border-top: 1px solid rgba(255, 255, 255, 0.15) !important;

}

.ui.divided.items > .item:first-child {
  border-top: none !important;
}


/*
*  Custom Scrollbar 
*/
::-webkit-scrollbar {
  color: rgba(0, 0, 0, 0.507);
  width: .8em;
}

::-webkit-scrollbar-track {
  border-radius: 9999px !important;
  background-color: rgb(54, 54, 54) !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px !important;
  background-color: rgba(148, 148, 148, 0.5) !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(148, 148, 148) !important;
}

.horizontal-scrolling {
  display: flex;
  height: max-content;
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.my-scroll {
  max-height: 75vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.my-scroll::after {
  content: "";
  width: 100%;
  height: 5em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 100%
  );
  will-change: opacity;
  pointer-events: none;
}

.search-text {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

