body {
  background-color: rgb(27,28,29) !important;
  margin: 0;
}

p {
  color: white;
  font-size: 1.1em;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  padding-bottom: 20px;
}

.footer {
  background-color: rgb(0, 0, 0);
  padding: 1em;
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 55px;
}

.logo {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  margin-right: 5px;
}

.footer-stuff {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  margin-left: 15px;
}

.headericons {
  padding-right: 20px;
}

.mystars {
  margin-left: 20px;
}

.mydimmer {
  width: 19%;
  min-width: 200px;
  margin-right: 5px;
  cursor: pointer;
  transition: transform 500ms;
}

.mydimmer:hover {
  transform: translate(5px,-5px);
  cursor: pointer;
}

.persondimmer {
  min-width: 130px;
}

.modalheader {
  position: fixed;
  bottom: 0;
  left: 1.5em;
}

.row {
  display: flex;
  justify-content: space-between;
}

.mygradient {
  font-size: 1.5em;
  margin-right: 10px;
  font-weight: bold;
  line-height: normal;
  background-image: linear-gradient(
    30deg,
    #90cea1 0%,
    #01b4e4 46%,
    #0d253f 100%
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.myrating {
  border: 1px solid grey;
  border-radius: 10%;
  padding: 2px;
  margin-left: 0;
}

.center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.no-user {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: grey;
  width: 132px;
  height: 167px;
  border-radius: 25px;
}

.person {
  display: block;
  text-align: center;
  width: 138px;
  height: 100%;
  margin-right: 5px;
  border: 2px solid rgb(37, 37, 37);
  border-radius: 25px;
  transition: transform 500ms;
}

.person:hover {
  transform: translate(5px,-5px);
  cursor: pointer;
}

.person h4 {
  margin: 0;
  color: whitesmoke;
}

.person p {
  margin-top: 2px;
  font-size: small;
  color: grey;
}

.sub-div {
  justify-content: space-evenly;
  padding-top: 5px;
  position: absolute;
  bottom: 1em;
}

.ui.tab {
  background-color: black !important;
  border-color: black !important;
}

.ui.card {
  background-color: #24262b !important;
  font-size: smaller;
  border: 2px solid aqua;
}

.ui.image {
  border-radius: 25px !important;
}

.body-headers::before {
  content: "";
  background: rgb(47, 128, 1);
  margin-left: -0.75rem;
  align-self: flex-start;
  position: absolute;
  width: 4px;
  height: 1.5em;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  color: rgba(0, 0, 0, 0.507);
  width: 1vw !important;
}

::-webkit-scrollbar-track {
  border-radius: 9999px !important;
  background-color: rgb(0, 0, 0) !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px !important;
  background-color: rgba(47, 128, 1, 0.5) !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(47, 128, 1) !important;
}

.horizontal-scrolling {
  display: flex;
  height: max-content;
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.scroll-container::after {
  content: "";
  width: 15em;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgb(27,28,29) 100%
  );
  will-change: opacity;
  pointer-events: none;
}

